{% extends "home.html.twig" %}


{% block inputform %}
<h2>Create A Word Count:</h2>
<form action='/display' method='post'>
    <div class='form-group'>
        <label for='word'>Enter the word you would like to count</label>
        <input required type='text' name='word' class='form-control'>
    </div>
    <div class='form-group hidden_form'>
        <label for='phrase'>Enter the phrase in which you would like the word counted</label>
        <input type='text' name='phrase' value="{{ default.getGettysburg }}">
    </div>
    <button type='submit' class='btn btn-info'>Count words!</button>
</form>
{% endblock %}


{% block navbuttons %}
<form method="get">
    <h4>Search other texts or head home for custom search</h4>
    <div class="form-group">
        <button class='btn btn-info' type="submit" name="jabberwocky" formaction="/jabberwocky">Jabberwocky by Lewis Carol</button>

        <button class='btn btn-info' type="submit" name="stairway" formaction="/stairway">Stairway to Heaven by Led Zepplin</button>

        <button class='btn btn-info' type="submit" name="home" formaction="/">Custom Search</button>
    </div>
</form>
{% endblock %}


{% block display %}
    <h2>The Text:</h2>
    <p>{{ default.getGettysburg | raw }}</p>
{% endblock %}
